.fejlec {
    height: 100vh;
    min-height: 500px;
    font-weight: 200;
    background-color: rgb(236, 236, 236);
 }

 h1 {
      font-size: 6rem;
      font-weight: 100;
 }

 h2 {
      padding-top: 10px;
      padding-bottom: 15px;
      font-weight: 100;
 }

section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.etlap {
    background-color: rgb(236, 236, 236);
}

.vendegkonyv {
    background-color: rgb(236, 236, 236);
}
